/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.rounded {

    font-family: Helvetica, sans-serif; 
    color: #FFF;
    font-weight: bold;
    padding-bottom:4px;

}


.chardeets {

    font-family: Helvetica, sans-serif; 
    color: #333;
    font-style: italic;
    margin-bottom:32px;
    margin-left:15px;
    border-radius: 6px;
    background:rgba(255,255,255,0.6);



}


table { 
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    /* Table reset stuff */
    border-collapse: collapse; border-spacing: 0; 
}

td, th {  border: 0 none; height: 30px; }

th {
    /* Gradient Background */
    background: linear-gradient(#333 0%,#444 100%);
    color: #FFF; font-weight: bold;
    height: 40px;
    text-align:center;
}

td { background: #FAFAFA; text-align: center; }

/* Zebra Stripe Rows */

tr:nth-child(even) td {background:rgba(233,233,233,0.8);} 
tr:nth-child(odd) td {background:rgba(255,255,255,0.8);}

/* First-child blank cells! */
tr td:first-child, tr th:first-child { 
    background:#333;
    font-style: italic;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    width: 80px; 
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) { 
    border-radius: 5px 0 0 0; 
} 

tr:first-child th:last-child { 
    border-radius: 0 5px 0 0; 
}
